html {
    background-color: #7dc0ff;
    font-size: 10px; /*10 pixels high*/
    font-family: "Macondo", sans-serif;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    background-color: aquamarine;
    text-shadow: 5px 5px 3px black;
    font-size: 60px;
    text-align: center;
}
strong {
    color: rgb(255, 0, 255);
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img {
    display: block;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
.special, p strong {
    color: green;
    font-weight: bold;
}
a:link {
    color: pink;
  }
a:visited {
    color: green;
}
a:hover,
a:focus {
    font-weight: bold;
    text-decoration: none;
  }